@model RealEstateScrapeMVC.Models.PropertySearchModel

@{
    ViewData["Title"] = "Real Estate Scrape";
}

<style>
    body {
        background-image: url('/images/pexels-pixabay-280221.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        height: 100hv;
        margin: 0;
        h1,h2{
        color: white;
        }
    }
</style>

<div class="text-center">
    
    <h1 class="display-4">Welcome To Real Estate Scrape</h1>
    <h2 class="display-8"> This application allows you to search the most recent real estate listings in central Kentucky by the following criteria: </h2>
    <br />
    <form asp-contoller="Home" asp-action="Create" method="post">
      <div class="form-group">
        <label for="County">County</label>
            @Html.DropDownListFor(x =>x.County, Model.CountyList, "Select a County", new { @class= "form-control"})
        
      </div>
      <br />
      <div class="form-group">
        <label for="PriceRange">Price Range</label>
            @Html.DropDownListFor(x => x.UserPriceRange, Model.PriceRanges, "Select a Price range", new { @class = "form-control" })

      </div>
      <br />
      <div class="form-group">
        <label for="Sqft">Sqft</label>
          @Html.DropDownListFor(x => x.UserSqft, Model.SqftRanges, "Select a Sqft Range", new { @class = "form-control" })

      </div>
      <br />
      <div class="form-group">
        <label for="LotSize">Lot Size</label>
          @Html.DropDownListFor(x => x.UserLotSize, Model.LotSizeRanges, "Select a Lot Size", new { @class = "form-control"})

      </div>
      <br />
      <div>
        <button type="Submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
